body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1a1a1a;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  transition: all 0.3s ease;
  z-index: 1000;
}

nav.scrolled {
  background-color: #0f0f0f;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

}

nav .logo {
  flex: 1;
  font-size: 2em;
  color: white;
  font-family: "Playfair Display", sans-serif;
}

nav .nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

nav .nav-links li a:hover {
  color: #00ffc8;
}

.content {
  margin-top: 120px;
  padding: 40px;
  color: white;
}

#Join {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #FFD700, #FFA500);
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 1.2rem;
  font-size: 1em;
  transition: background 0.3s, transform 0.2s;
}

#Join:hover {
  transform: scale(1.05);
}

.logo{
    background: linear-gradient(90deg, #D4AF37, #F6E27F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: bold;
}


.HeaderBG {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom: 2px solid #D4AF37;
  
}

#heroVideo {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 0;
  z-index: 10000;
}

.HContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: rem 2.5rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5rem;
 
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.000001rem;
  animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  
}

#HeroP{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.Hero h1{
    background: linear-gradient(90deg, #D4AF37, #F6E27F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:"Playfair Display",sans-serif;
}

/*BLURS*/
.blur-sphere {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #D4AF37;
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}

/* Position each one differently */
#sphere1 { top: 100%; left: 5%; }
#sphere2 { top: 200%; left: 90%; }
#sphere3 { top: 35%; left: 20%; }




button{
    background: linear-gradient(45deg, #d4af37, #f4e99b);
    font-family: "Playfair Display", sans-serif;
    color: black;
    font-weight: 200px;
    font-size: 1.6rem;
    border-radius: 30px;
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

button:hover{
    transform: translateY(-3px);
            box-shadow: 0 10px 50px rgba(212, 175, 55, 0.5);
}

/*HERO CONTAINER 2*/
.HContainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    max-width: 900px;    
    margin: 0 auto; 
    padding-top: 5rem;
    animation: scrolling1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
#Hero1Vid{
    border: 2px solid #D4AF37;
    max-width: 500px;
    animation-delay: 2s;
}

.Hero1Text p{
 
    font-size: 1.5rem;
    color: white;
    font-family:"Montserrat",sans-serif;
   
}

.Hero1Text h1{
    background: linear-gradient(90deg, #D4AF37, #F6E27F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:"Playfair Display",sans-serif;
  font-size: 3rem;
}


/*Featured*/

.Feature h1{
    color: #D4AF37;
    text-align: center;
    font-family:"Playfair Display",sans-serif;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    
}
/*IMAGE CAROUSEL 1*/
.image-carousel1{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    
    animation: carousel1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin-top: 0.2rem;
}

.image-carousel1 img{
    width: 20%;
    height: auto;
     transition: all 0.3s ease;
}
.image-carousel1 {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.slide {
  position: relative;
  flex: 0 0 auto;
}

.slide img {
  width: 400px;
  height: auto;
  display: block;
  border-radius: 12px;
}

/* Text overlay */
.overlay-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.7);
  color: #D4AF37;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  pointer-events: none;
  font-family: "Playfair Display", sans-serif;
}


.image-carousel1 img:hover{
    transform: translateY(-10px);
            box-shadow: 0 10px 50px rgba(212, 175, 55, 0.5);
}

#Aurum{
    color: #D4AF37;
    animation: carousel1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
}

/*IMAGE CAROUSEL 2*/
.image-carousel2{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    
    animation: carousel2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin-top: 0.2rem;
}

.image-carousel2 img{
    width: 20%;
    height: auto;
     transition: all 0.3s ease;
}
.image-carousel2 {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.slide2 {
  position: relative;
  flex: 0 0 auto;
}

.slide2 img {
  width: 400px;
  height: auto;
  display: block;
  border-radius: 12px;
}

.image-carousel2 img:hover{
    transform: translateY(-10px);
            box-shadow: 0 10px 50px rgba(212, 175, 55, 0.5);
}

#Noirsteel{
    color: #D4AF37;
    animation: carousel2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
}

.footer{
    background-color: rgb(5, 5, 5);
    border-top: 2px solid #D4AF37;
    padding: 2rem;
    color: #42A5F5;
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;     
    gap: 1rem;               
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer-section1{
    text-align: center;
}
.footer-section2{
    text-align: center;
}
.footer-section3{
    text-align: center;
}

.footer h3,p{
    color:#D4AF37;
}

hr{
  border: none; 
  margin-top: 6000px;   
  margin-bottom: 30px;

  height: 4px;
  background: linear-gradient(to right, #C39738, #FFD700, #B8860B);
  margin: 30px auto;
  width: 50%;
  animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}




@keyframes scrolling{
    from{
        opacity: 0;
        scale: 0.8;
    }

    to{
        opacity: 1;
        scale:1;
    }
}


@keyframes scrolling1 {
    from{
       opacity: 0;
       transform: translateX(-300px); 
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    
    }
}

@keyframes carousel1{
    from{
        opacity: 0;
        transform: translateX(400px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes carousel2{
    from{
        opacity: 0;
        transform: translateX(-400px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}